
// 
// footer.scss
//

.footer {
  border-top: 1px solid rgba($gray-600,0.2);
  bottom: 0;
  padding: 19px 0;
  position: absolute;
  left: 0;
  color: $gray-600;
  right: $leftbar-width;
}

.enlarged {
  #wrapper {
    .footer {
      right: 70px;
    }
  }
}

.side-menu-sm + .content-page + .footer {
  right: $leftbar-width-sm;
}

@media (max-width: 768px) {
  .footer {
      right: 0 !important;
  }
}